################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/kamal-appu/FileContentIndex/2b33be13-2fbd-457d-8213-2072aa88f397.vsidx
/.vs/kamal-appu/FileContentIndex
